{{!< layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <h1>Timesheet</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-item">
                    <p>
                        Since: <input class="aui-date-picker" id="since-date" type="date"/>
                    <div id="spinner" style="display:none"></div>
                    <table id="report" class="aui" style="display: none">
                        <thead>
                        <tr>
                            <th id="key">User Name</th>
                            <th id="hours">Hours</th>
                        </tr>
                        </thead>
                        <tbody id="report-body">
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>